@media (min-width: 768px) {
    .table-width_sm {
      width: 10px;
    }
    .pr-sm-0 {
        padding-right: 0;
    }
    .pl-sm-0 {
        padding-left: 0;
    }

}

@media (max-width: 768px) {
    .mb-xs {
        margin-bottom: 1.5rem !important;
    }
}

